body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #1C1C1C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    width: 550px;
    height: 550px;
    transform: translate(-60px, -80px);
}

.green {
    color: #4ADF86;
}

.hero {
    width: 354px;
    padding-top: 115px;
    padding-left: 52px;

}

button {
    background-color: #4ADF86;
    color: white;
    padding: 9px 18px;
    border: none;
    border-radius: 3px;
    margin-top: 51px;
    margin-right: 24px;
    width: 210px;
}

button:active {
    background-color: #3BC172;
}

.passwords {
    margin-left: 52px;
    border-top: 1px solid #2F3E53;
    margin-top: 35px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

}

.data {
    background-color: #273549;
    color: #4ADF86;
    border: none;
    border-radius: 3px;
    padding: 9px 18px;
    width: 210px;
    height: 20px;
    text-align: center;
}

.data:hover {
    cursor: pointer;
}

.data:active {
    background-color: #1E2A3A;
}

button:hover {
    cursor: pointer;
}